<%= form_with(model: beer_club) do |form| %>
  <% if beer_club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>
      <ul>
        <% beer_club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <label for="name"  class="form-label">Name</label>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <label for="founded" class="form-label">Founded</label>
    <%= form.number_field :founded, class: "form-control" %>
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <%= form.text_field :city, class: "form-control" %>
  </div>
  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
