<div id="<%= dom_id @user %>">
  <%= render @user %>
  <% if current_user && current_user.admin %>
    <%= button_to('Change activity', change_activity_user_path(@user.id),  method: :post,
                            form: { data: { turbo_confirm: "Are you sure ?" } },
                            class: "btn btn-danger")%>
  <% end %>
  <p>
    <strong>Member of:</strong>
  </p>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li>
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>
  <p>
    <strong>Ratings:</strong>
  </p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.to_s %>
        <% if current_user && current_user.username == @user.username %>
          <%= link_to 'delete', rating_path(rating), data: {turbo_method: :delete}%>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to users", users_path %>
  <% if @user == current_user%>
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to('Destroy this user', @user,  method: :post,
                                      form: { data: { turbo_confirm: "Are you sure ?" } },
                                      class: "btn btn-danger")%>
  <% end %>
</div>
