<div id="<%= dom_id @user %>">
  <p>
    <strong>Username:</strong>
  </p>
  <p>
    <%= @user.username %>
  </p>
    <% if @user.ratings.empty? %>
      <p>User has made zero ratings<p>
    <% else %>
      <p><%= 
        "Has made "
        .concat(pluralize(@user.ratings.count,'rating'))
        .concat(", average rating ")
        .concat(@user.average_rating.to_s)
      %></p>
      <p><%= 
        "Favorite style is "
        .concat(@user.favorite_style)
      %></p>
      <p><%= 
        "Favorite brewery is "
        .concat(@user.favorite_brewery.name)
      %></p>
    <% end %>
  <p>
    <strong>Member of:</strong>
  </p>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li>
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>
  <p>
    <strong>Ratings:</strong>
  </p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.to_s %>
        <% if current_user && current_user.username == @user.username %>
          <%= link_to 'delete', rating_path(rating), data: {turbo_method: :delete}%>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to users", users_path %>
  <% if @user == current_user%>
    | <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete,  class:"btn btn-danger" %>
  <% end %>
</div>
