<h2>Ratings</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Best beer</h4>
      <%= render "table", list_object: @top_beers, title: 'Beer' %>
    </div>
    <div class="col-sm">
      <h4>Best brewery</h4>
      <%= render "table", list_object: @top_breweries, title: 'Brewery' %>
    </div>
    <div class="col-sm">
      <h4>Best style</h4>
      <%= render "table", list_object: @top_styles, title: 'Style' %>
    </div>
  </div>
</div>

<h3>Most active users</h3>
<ul>
  <% @top_users.each do |user| %>
    <li>
      <strong><%= user.username %></strong>
      <%= pluralize(user.ratings.count,'rating') %>
    </li>
  <% end %>
</ul>

<h3>Recent ratings</h3>
<ul>
  <% @ratings_recent.each do |rating| %>
    <li>
      <%= rating.to_s %>
    </li>
  <% end %>
</ul>

<div>
  <% if current_user %>
    <%= link_to "Add new rating", new_rating_path, class:"btn btn-primary" %>
  <% end %>
</div>
