<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>

  <p>
    <i>Established at
    <%= brewery.year %>
    </i>
  </p>
  <p>
    <strong>Beers:</strong>
    <%= brewery.beers.count %>
    </i>

  <p>
  <% brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
  </p>
  <% if brewery.ratings.empty? %>
    <p>Brewery has not yet been rated!<p>
  <% else %>
    <p><%= 
      "Brewery has "
      .concat(pluralize(brewery.ratings.count,'rating'))
      .concat(" with an average of ")
      .concat(brewery.average_rating.to_s)
    %></p>
  <% end %>
</div>