<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <%= form.text_field :city, class: "form-control" %>
  </div>
  <div>
    <%= form.submit 'Search', class:"btn btn-primary" %>
  </div>
<% end %>

<% if @weather %>
  <h3>Current beer weather in <%= @weather["request"]["query"] %></h3>
  <p><strong>Temperature:</strong> <%= @weather["current"]["temperature"] %> Celsius and it
  <strong>feels like</strong> <%= @weather["current"]["feelslike"] %> Celsius</p>
  <img id="drag1" src=<%= @weather["current"]["weather_icons"][0] %> />
  <p><strong>Wind:</strong> <%= @weather["current"]["wind_speed"] %>, direction <%= @weather["current"]["wind_dir"]%></p>
<% end %>
<% if @places %>
  <Table class="table table-bordered table-striped">
    <thead>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <th><%= field %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.id %></td>
          <td><%= link_to place.name, place_path(place.id) %></td>
          <% Place.rendered_fields.each do |field| %>
            <% if field != :id && field != :name %>
              <td><%= place.send(field) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </Table>
<% end %>
